<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> Developed by
      <a target="_blank" href="https://albertobasalo.dev">Alberto Basalo</a>.
    </div>
  </div>
</footer>
